.body{background-color: rgb(248, 245, 240)}
.navbar {
  background-color: rgb(248, 245, 240);
  position: absolute;
}

.CompanyLogo {
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  gap: 8px;
  margin-left: 40px;
  color: rgb(31, 57, 44);
  margin-top: 10px;
  width: 201px;
  margin-left: 150px;
}

.Logo {
  position: relative;
  margin-left: 130px;
  margin-top: 10px;
  margin-left: 150px;
}
.imgLogo {
  position: absolute;
  margin-top: 5px;
  margin-left: 110px;
}
.horizontal-container {
  display: flex;
  gap: 32px;
  margin-left: 650px;
  margin-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgb(31, 57, 44);
  width: 1050px;
  position: absolute;
}

.div3navbar{
    background-color: rgb(255, 96, 230);
height: 48px;
width: 214px;
border-radius: 100px;
margin-top: 20px;
margin-left: 1250px;
position: absolute;

}
.JTC{
    margin-left: 40px; 
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(31, 57, 44);
    width: 150px;
    height: 24px;
    line-height: 24px;
}


/* section1 */

.line1{
width: 440px;
margin-top: 90px;
height: 804px;
position:relative;
z-index: 1

}

.hand2{
  margin-top: -520px;
  margin-left: -455px;
  width: 414px;
  height: 217px;
  position: relative;
  z-index: 2;
}


.hand1{
  position: relative;
  margin-left: 1350px;
  width: 403px;
height: 426px;
margin-top: -420px;
z-index: -1;

}

.imgline{
margin-top: 310px;
margin-left: 30px;
position:absolute;
z-index: 1
}

.caption1, .caption2, .caption3 {
  font-size: 110px; 
  color: rgb(31, 57, 44);
  margin: 0;
  margin-top: -20px;
  
}

.caption1 {
  position: absolute;
  margin-left: 10px;
  margin-top: -20px;
  
}

.caption2 {
margin-top: 100px;
margin-left: 70px;
/* z-index: -2   */
}

.caption3 {
  margin-left: 290px;
}

.spark {
  background-color: #F8F5F0;
  width: 977px;
  height: 325px;
  position: absolute;
  margin-top: -690px;
  margin-left: 390px;
  padding-top: -20px; 
  box-sizing: border-box;
}
.spark2 {
  background-color:#F8F5F0;
  position: relative; 
  bottom: 0; 
  width: 100%; 
  height: 192px;
  margin-top: -19px;
  z-index: -1;
}
.p1{
  color: rgb(31, 57, 44);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  width: 773px;
  margin-left: 155px;
  margin-top: 20px;
  position: absolute;
}
.p2{ color:rgb(31, 57, 44);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-left: 165px;
position: absolute;
margin-top: 40px;}

.email{
  width: 537px;
  height: 64px;
  border-radius: 100px;
  border: none;
  margin-top: 110px;
  margin-left: 200px;
  margin-left: -1155px;
margin-top: -255px;
position: absolute;

}

.button{color: #000000;
margin-left: -735px;
margin-top: -247px;
position: absolute;
height: 48px;
width: 102px;
border-radius: 100px;
background-color: #e517e5;
border: 0px;}

.email::placeholder{
  font-size: large;
  margin-left: 50px;
  position: absolute;
}
.fb1{
  position: absolute;
  margin-top: 790px;
  margin-left: -210px;
}
.remove{
  position: absolute;
  margin-left: -100px;
  margin-top: 350px;
}
.inst{
  position: absolute;
  margin-top: 410px;
  margin-left: -350px;
}
.Vector2{
  position: absolute;
  margin-left: -350px;
  margin-top: -620px;
  width: 376.39px;
  height: 507.35px;
  
}
.ytb{
  position: absolute;
  margin-left: -300px;
  margin-top: -185px;
}
.fb{
  position: absolute;
  margin-left: -50px;
  margin-top: -685px;
}
.bulb2{
  position: absolute;
  margin-left: -350px;
  margin-top: -585px;
}
/* section2 */

.div2{
  background-color:  #F8F5F0;
  margin-left: 500px;
}
.div2caption1{
  font-size: 56px;
  line-height: 66.83px;
  font-weight: 700;
  color: rgb(31, 57, 44);
}
.div2caption2{
  font-size: 56px;
  font-weight: 700;
  line-height: 66.83px;
  color: rgb(31, 57, 44);
  margin-left: 20px;
  position: relative;
}
.lineunderpmsp{
  margin-left: 330px;
  margin-top: -50px;
}


.Partners{
  background-color: rgb(249, 15, 15);
  width: 1192px;
  height: 340px;
  border-radius: 24px;
  margin-left: -310px;
  position: absolute;
  margin-top: 30px;
}
.heading99{
  font-weight: 600;
  font-size: 48px;
  color: rgb(31, 57, 44);
  margin-left: 100px;
  margin-top: 80px;
  
}
.caption99{
  font-weight: 400;
  font-size: 20px;
  color: rgb(31, 57, 44);
  line-height: 32px;
  width: 530px;
  margin-left: 100px;
}
.twitter{
  width: 404px;
  height: 196px;
  border-radius: 16px;
  background-color: rgb(255, 96, 230);
  margin-top: -200px;
  margin-left: 650px;
}
.twitter1{
  font-weight: 400;font-size: 16px;line-height: 24px;margin-top: 70px;position: absolute;margin-left: 40px;color: rgb(31, 57, 44);
}
.twitter2{
margin-left: 250px;margin-top: 30px;position: absolute;color: rgb(31, 57, 44);
}
.twtr{
  margin-left: 40px;
  margin-top: 20px;
}

.pinterest{
  position: absolute;
  width: 404px;
  height: 196px;
  border-radius: 16px;
  background-color: rgb(255, 173, 242);
  margin-top: -200px;
  margin-left: 1100px;
}

.pinterest1{
  font-weight: 400;font-size: 16px;line-height: 24px;margin-top: 70px;position: absolute;margin-left: 40px;color: rgb(31, 57, 44);
}

.pinterest2{
  margin-left: 230px;
  margin-top: 30px;
  position: absolute;
  color: rgb(31, 57, 44);
}
.pntrst{
  
    margin-left: 40px;
    margin-top: 20px;
}
.vector99{
  position: absolute;
  z-index: -1  ;
  margin-left: -200px;
  margin-top: -190px;
}

.footer{
  margin-top: 500px;
}

.footerh1{
  font-size: 56px;
  font-weight: 700;
  line-height: 66.83px;
  color: rgb(31, 57, 44);
  margin-left: 450px;
}

.footerh2{
  font-size: 56px;
  font-weight: 700;
  line-height: 66.83px;
  color: rgb(31, 57, 44);
  margin-left: 550px;
}
.Illustration{
  margin-left: 440px;
  margin-top: 60px;
  position: absolute;
}

.ytb1{
  margin-left: 1040px;
  margin-top: 100px;
  position: absolute;
}
.ytb2{margin-left: 620px;
  margin-top: 470px;
  position: absolute;}
.ytb3{margin-left: 1220px;
  margin-top: 400px;
  position: absolute;}